body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 20px;
    color: #333;
}

h1 {
    text-align: center;
    color: #2c3e50;
}

h2 {
    text-align: center;
    margin-top: 20px;
    color: #34495e;
}

select, input[type="text"], input[type="number"], button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-size: 16px;
}

button {
    background-color: #3498db;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #2980b9;
}

table {
    width: 90%; 
    border-collapse: collapse;
    margin: 20px auto; 
    font-size: 18px; 
}

th, td {
    padding: 15px; 
    text-align: left;
    border: 1px solid #ddd;
}

th {
    background-color: #2c3e50;
    color: white;
}

th#emission-volume, td#emission-volume { 
    width: 150px; 
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #ddd;
}

#fetch-data, #add-data-form {
    max-width: 600px;
    margin: auto;
}

.small-select, .small-button {
    width: 50%; 
    padding: 8px; 
    font-size: 14px; 
    margin: 10px auto; 
    display: block; 
}

.notification {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    color: white;
    border-radius: 5px;
    font-size: 14px;
    opacity: 1;
    transition: opacity 0.5s;
    z-index: 1000;
}

@media (max-width: 2560px) {
    table {
        font-size: 20px; 
    }
}

@media (max-width: 1440px) {
    table {
        font-size: 18px;
        width: 85%;
    }
    th, td {
        padding: 12px;
    }
}

@media (max-width: 768px) {
    table {
        width: 700px; 
        font-size: 16px;
        overflow-x: auto;
        display: block;
        white-space: nowrap;
    }

    th, td {
        padding: 10px;
        min-width: 100px; 
    }
}

@media (max-width: 320px) {
    table {
        width: 300px; 
        font-size: 14px;
        overflow-x: auto;
    }

    th, td {
        padding: 8px;
        font-size: 12px; 
    }
}

/* Centering and Styling Tabs and Forms */
.tab-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.tab-button {
    padding: 10px 20px;
    margin: 0 10px;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    border-radius: 5px;
}

.tab-content {
    display: none;
    margin-top: 20px;
    text-align: center;
}

.tax-result {
    font-size: 1.2em;
    font-weight: bold;
    color: #444;
    margin-top: 10px;
}

.tax-result.success {
    color: green;
}

.tax-result.error {
    color: red;
}

.active-tab {
    display: block;
}
